<h1></h1>

  <div class="playerProfile">
        <tt>Player Profile:</tt>
        <form ng-submit="d.showProfile()">
            <div><tt>Game platform<input ng-model= "d.platform"> ex: pc, xbox, ps</tt></div>
           <div><tt>Region <input ng-model= "d.region"> ex: us, eu
           </tt></div>
            <div><tt>Battle Tag<input ng-model= "d.tag"> ex: Surefour-2559
            </tt></div>
            <input type="submit">
            <input type="submit" value="Save!" ng-click="d.postProfile()">
            <input type="submit" value="Nope!" ng-click="d.reload()">
           <div><tt>Data: <tt>{{d.data}}</tt></tt>
           </div>
            </form>
            <!-- <div><tt>Data: {{d.datas}}</tt></div> -->
            </div>
           <!--  </tr> -->


